@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

:root {
    --color-text: rgb(187, 187, 187);
    --color-back: #cccccc;
    --color-hover-text: rgb(128, 128, 128);
    --color-hover-button: rgb(201, 201, 201);
    --color-navbar: #00000025;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-image: url("https://cdn.discordapp.com/attachments/1065442095684399165/1089274883927724102/wp4676576.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-navbar);
}

.navbar .bowser {
    text-decoration: none;
    color: var(--color-text);
    margin: 0 15px;
}

.navbar ul {
    display: flex;
    margin: 0 15px;
}


.navbar ul li {
    display: flex;
    list-style: none;
    padding: 10px;
    
}
.navbar ul li a {
    text-decoration: none;
    color: var(--color-text);
    padding: 5px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
}

.navbar ul li .logar {
    background-color: aliceblue;
    border-radius: 4px;
    width: 50px;
}

.navbar ul li a:hover {
    color: var(--color-hover-text);
}

/* navbar dropdown */


.navbar li  ul{
    position:absolute;
    top: 45px;
    right: 120px;
    border-radius: 0 0 10px 10px;
    display:none;
    border-top: transparent;
    }

    .navbar li:hover ul, .navbar li.over ul{
        display:block;
    }

    .navbar li ul li{
        display:block;
        width:150px;
        }

        

        .navbar li  ul .sub-dropdown li  ul{
            position:absolute;
            top: 75px;
            right: 135px;
            border-radius: 20px 0px 20px 20px;
            display:none;
            }
        
            .navbar li  ul .sub-dropdown li:hover ul, .sub-dropdown li.over ul{
                display:block;
            }
        
            .navbar li  ul .sub-dropdown li ul li{
                display:block;
                width:180px;
                }
/*
informacoes do criador do website
*/

.container-convite {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 30rem;
}

.container-convite .convite {
    top: 100px;
    position: relative;
    
}

.container-convite .convite img {
    width: 100px;
    height: 100px;
    position: relative;
}

.container-convite .convite h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.container-convite .convite p {
    font-family: "Montserrat" sans-serif;
}

.container-convite .convite .btn-add button {
    background: rgb(0,29,80);
    background: linear-gradient(0deg, rgba(0,29,80,1) 1%, rgba(12,73,179,1) 58%, rgba(0,153,255,1) 100%);
    border: none;
    padding: 10px;
    margin-top: 23px;
    border-radius: 12px;
    width: 100px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.container-convite .convite .btn-add button:hover {
    transform: scale(1.1);
}
/* botão de mudar tema */
.dark-light {
    margin-top: auto;
    display: flex;
    justify-content: end;
}

.dark-light div {
    background-color: rgb(86,81,112);
    padding: 5px;
    top: -330px;
    margin: 0 20px;
    position: relative;
}
/*
footer da pagina
*/

.footer-container {
    margin-top: auto;
}

.footer-container, footer {
 background-color: rgb(86,81,112);
 padding: 12px;
 display: flex;
 justify-content: center;
 text-decoration: none;
}

.footer-container footer .coluna-1 {
    margin: 12px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.footer-container footer .coluna-1 a {
    text-decoration: none;
    color: aliceblue;

}
.footer-container footer .coluna-2 {
    margin: 12px;
    display: flex;
    flex-direction: column;
}

.footer-container footer .coluna-2 a {
    text-decoration: none;
    color: aliceblue;
}

.footer-container .icon-footer i{
    margin: 0 12px;
}

/* barra de rolagem */
